
wpf_app/.vs/wpf_app/FileContentIndex/fc5d752b-7482-43b8-b449-0f13b757d0d5.vsidx

wpf_app/.vs/wpf_app/FileContentIndex/0cce609c-4ac4-4412-a905-984a4f96ba8f.vsidx

wpf_app/.vs/wpf_app/FileContentIndex/3a145112-d4a5-41f0-b1e3-f9b760f22c1e.vsidx

wpf_app/.vs/wpf_app/FileContentIndex/a46620bd-732a-4c06-b07a-054eaae3ae22.vsidx

backend/wypozyczalnia_backend/.vs/ProjectEvaluation/wypozyczalnia_backend.metadata.v9.bin

backend/wypozyczalnia_backend/.vs/ProjectEvaluation/wypozyczalnia_backend.projects.v9.bin

backend/wypozyczalnia_backend/.vs/ProjectEvaluation/wypozyczalnia_backend.strings.v9.bin

backend/wypozyczalnia_backend/.vs/wypozyczalnia_backend/FileContentIndex/4be77120-75ac-426a-a784-57f5b81a4c65.vsidx
